<!-- <h2>Transazioni</h2>

<app-transaction-form (save)="onSave($event)"></app-transaction-form> -->
<div class="header">
  <h2>Transazioni</h2>

  <button mat-icon-button  color="primary" (click)="goToCreate()">
    <mat-icon>add</mat-icon>
    <!-- Nuova transazione -->
  </button> Nuova transazione
</div>
<br>

<app-transaction-filters (filterChange)="onFilterChange($event)">
</app-transaction-filters>

<app-transaction-list
  [transactions]="transactions"
  (delete)="onDelete($event)">
</app-transaction-list>