<mat-card class="filters-card">
  <div class="filters-row">

    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select [(ngModel)]="filter.type" (selectionChange)="emit()">
        <mat-option value="">Tutti</mat-option>
        <mat-option value="INCOME">Entrata</mat-option>
        <mat-option value="EXPENSE">Uscita</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Famiglia</mat-label>
      <mat-select [(ngModel)]="filter.familyId" (selectionChange)="emit()">
        <mat-option [value]="undefined">Tutte</mat-option>
        <mat-option *ngFor="let f of families" [value]="f.id">
          {{f.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select [(ngModel)]="filter.categoryId" (selectionChange)="emit()">
        <mat-option [value]="undefined">Tutte</mat-option>

        <mat-option *ngFor="let c of categories" [value]="c.id">
          {{c.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

   
    <mat-form-field appearance="outline">
      <mat-label>Data inizio</mat-label>
      <input matInput 
            [matDatepicker]="startPicker"
            [(ngModel)]="filter.startDate"
            (dateChange)="emit()">

      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data fine</mat-label>
      <input matInput 
            [matDatepicker]="endPicker"
            [(ngModel)]="filter.endDate"
            (dateChange)="emit()">

      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

  </div>
</mat-card>